<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <add key="SignInUrl" value="https://api.weibo.com/oauth2/authorize?client_id=76999512&amp;redirect_uri=http%3A%2F%2Fapps.weibo.com%2Fhufenjingling&amp;response_type=code" />
  </appSettings>
</configuration>